.menu-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 60px;
    background-color: var(--component-bg);
    border-bottom-left-radius: 20px;
}