.portfolio-menu{
    width: 100%;
    display: flex;
    gap: 20px;
}
.portfolio-menu li{
    font-size: 15px;
    list-style: none;
}
.portfolio-content{
    margin: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.portfolio-card > div{
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 7px;
    position: relative;
    transition: all 0.4s;
}
.portfolio-card:hover > div{
    transform: scale(1.04);
}
.portfolio-card-filter{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 43, 0.5);
    backdrop-filter: blur(3px);   
    position: absolute;
    transition: all 0.4s;
}
.portfolio-card:hover .portfolio-card-filter{
    backdrop-filter: blur(0);
    background-color: transparent;
}
.portfolio-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    object-fit: cover;
}

.portfolio-card h2{
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
.portfolio-card p{
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    color: rgb(204, 204, 204);
}